<!DOCTYPE html>
<html lang="en-CA">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>What's at Hand</title>
  <link href=data:, rel=icon>
  <!-- <link rel="shortcut icon" href=""> -->
  <!-- <link rel="canonical" href="" /> -->
  <!-- <link rel="shortlink" href="" /> -->
  <style>
    {{src/style.css}}
  </style>
</head>
<body>
  <div id="text-container">
    <h1>What's at Hand</h1>
    <p><strong>These tracks are designed for quiet playback by small, portable speakers</strong> like the ones in a phone or laptop. You could also use a tablet or similar device to play them, but they’re <em>not</em> meant for headphones or large, powerful speakers.</p>
    <p><strong>Play them where they might be overheard.</strong> This might be by people in a library or a waiting room, but could equally be family at home, a pet, a plant, or a device.</p>
    <p><strong>Their volume is quite low, so you’ll need to play them in a quiet setting.</strong> Play them at a volume that’s barely audible to you but that doesn’t disturb the others you’re around. The volume doesn’t change much – don’t worry, there aren’t any jump scares.</p>
  </div>

  <div id="audio-container">
    <div>
      <audio
        controls=""
        alt="Birds"
        src="assets/Riedstra-birdies-music-2020-03-25.mp3"
      ></audio>
      <audio
        controls=""
        alt="Clicks & Pops"
        src="assets/Riedstra-clicks-and-pops-2019-12-08_18.16.mp3"
      ></audio>
      <audio
        controls=""
        alt="Pulses"
        src="assets/Riedstra-pulse-music-2020-02-17.mp3"
      ></audio>
    </div>
  </div>

  <footer>
    <p><small><noscript>This page is designed for use with JavaScript. </noscript>The source code for this page can be viewed <a href="https://gitlab.com/daveriedstra/library-piece">here</a>. This page does not set cookies, register service workers, send analytics, or use external libraries or frameworks.</small></p>
  </footer>

  <!-- AudioWidget template -->
  <template id="audio-widget-template">
    <style>
      {{src/audio-widget.css}}
    </style>
    <div class="wrapper">
      <canvas></canvas>
      <div class="gui">
        <div class="btn btn--play-ctl">
          <div class="icon icon--play">
            {{src/svg/play-icon.svg}}
          </div>
          <div class="icon icon--pause">
            {{src/svg/pause-icon.svg}}
          </div>
          <div class="icon icon--loading">
            <div><div></div></div>
          </div>
        </div>
        <div class="btn btn--volume-ctl">
          <div class="slider"></div>
          <div class="icon icon--volume">
            {{src/svg/volume-icon.svg}}
          </div>
        </div>
        <div class="track-name"></div>
        <div class="loading-progress-indicator">&hellip;</div>
      </div>
    </div>
  </template>

  <script>
    window.DEBUG = true;
    window.DEBUG_INLINE = false;
    {{src/inline-console.js}}
    {{src/main.js}}
  </script>
</body>
</html>
