:root {
  --gbox-bg: #282828;
  --gbox-red-dark: #cc241d;
  --gbox-green-dark: #98971a;
  --gbox-yellow-dark: #d79921;
  --gbox-blue-dark: #458588;
  --gbox-purple-dark: #b16286;
  --gbox-aqua-dark: #689d6a;
  --gbox-gray-dark: #a89984;
  --gbox-gray-light: #928374;
  --gbox-red-light: #fb4934;
  --gbox-green-light: #b8bb26;
  --gbox-yellow-light: #fabd2f;
  --gbox-blue-light: #83a598;
  --gbox-purple-light: #d3869b;
  --gbox-aqua-light: #8ec07c;
  --gbox-fg: #ebdbb2;

  --gbox-bg0_h: #1d2021;
  --gbox-bg0: var(--gbox-bg);
  --gbox-bg1: #3c3836;
  --gbox-bg2: #504945;
  --gbox-bg3: #665c54;
  --gbox-bg4: #7c6f64;
}

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  min-width: 100%; 
  min-height: 100%;
  background: linear-gradient(45deg, var(--gbox-bg), var(--gbox-bg1));
  color: var(--gbox-fg);
  font-family: sans-serif;
}

body {
  padding: 1em;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

strong,
h1 {
  color: var(--gbox-yellow-light);
}

em {
  color: var(--gbox-gray-dark);
}

a {
  display: inline-block;
  transition: transform 100ms ease;
  color: var(--gbox-aqua-light);
}

a:visited {
  color: var(--gbox-blue-light);
}

a:hover {
  color: var(--gbox-aqua-dark);
}

a:active {
  color: var(--gbox-red-light);
  transform: translateY(1px);
}

#text-container {
  max-width: 40em;
}

#audio-container {
  margin: 3em 0;
  flex-grow: 1;
  align-self: stretch;
}

#audio-container > div {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 40em;
  margin: 0 auto;
}

footer {
  color: var(--gbox-gray-light);
}

footer p {
  margin: 0;
}

audio-widget {
  flex: 1;
  margin-right: 1rem;
}

audio-widget:last-of-type {
  margin-right: 0;
}

@media only screen and (max-width: 25rem) {
  #audio-container > div {
    flex-direction: column;
    max-width: 10rem;
  }

  audio-widget {
    margin-right: 0;
    margin-bottom: 3rem;
  }

  audio-widget:last-of-type {
    margin-bottom: 0;
  }
}
